* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
span {
  font-style: italic;
  font-weight: 900;
}

body {
  font-family: "EB Garamond", serif;
  //font-family: "Playfair Display", serif;
  line-height: 1.6;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../IMG_2648.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-name {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fdb833;
  font-size: 2.7rem;
  height: 80vh;
  font-weight: 900;
}

li {
  list-style: none;
}
a {
  //important
  //color: #0a1f41;
  color: #fdb833;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 900;
}
//important
.social-item {
  color: #fdb833;
}
.nav-link {
  color: #0a1f41;
}
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav-link,
.footer-social,
.social-link {
  transition: 0.7s ease;
}
.nav-link:hover,
.footer-social:hover,
.social-link:hover {
  //color: #0a1f41;
  color: #fdb833;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition-timing-function: cubic-bezier(0, 0.36, 0.58, 1);
  background-color: #fdb833;
}
.social-list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

//Footer

footer {
  background-color: #191c22;
  padding: 3.3rem;
  margin-top: auto;

  .social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
  }
  li {
    margin: 0 15px;
    margin-bottom: 1rem;
  }
  a {
    font-size: 1rem;
    font-weight: 500;
  }
  i {
    text-align: center;
    align-items: center;
  }
  .footer-fineprint {
    color: #fff;
    font-size: 0.7rem;
    opacity: 0.5;
  }
}

//BIO

.bio-main-div {
  display: flex;
  flex-direction: row;

  align-items: center;
  font-size: 1rem;
  margin: 2rem;
}

.bio-text {
  text-align: center;
  font-weight: 900;
  padding-bottom: 4rem;
  padding-top: 4rem;
  color: #fdb833;
  font-size: 2rem;
}

.icons-bio {
  color: #fdb833;
  text-align: center;
}
.watermark {
  width: 5rem;
  display: flex;
  text-align: center;
  margin: auto;
}
.paragraph {
  padding: 1rem;
  color: #eeeeee;
  text-align: justify;
  justify-content: center;
}
.sting {
  background: url(../augustine-black.png);
}

//LESSONS

.goal {
  text-transform: uppercase;
  color: #eeeeee;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 1rem;
  text-align: center;
  margin: auto;
  font-weight: 900;
  font-size: 1.1rem;
}

.icons {
  font-size: 1.2rem;
  color: #fdb833;
  text-align: center;
  margin-top: 0.4rem;
}

.lesson-intro::before {
  content: "";
  display: block;
  position: absolute;
  border-left: 7px solid #fdb833;
  left: 10px;
  transform: translateY(6px);
  height: calc(100% - 60%);
}
.lesson-list {
  margin: 1rem;
}
.lesson-intro,
.lesson-list {
  color: #eeeeee;
  text-align: justify;
  justify-content: center;
  margin: 3rem;
}

.lesson {
  margin-top: 6rem;
}

.price-div {
  text-align: center;
  margin: 2rem;
  .price {
    color: #fdb833;
    font-size: 1.2rem;
  }
  .price-list {
    color: #eeeeee;
  }
}

//hamburger-menu
@media (max-width: 1200px) {
  .wrapper {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(1em, 1fr) minmax(1em, 1fr);
    grid-column: 3 / -1;
    gap: 0.5rem;
    margin: 5rem;
    //background: rgba(230, 152, 8, 0.3);
    //backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 0.5rem;
    margin-top: 10rem;
  }
  .iframe-container {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
  }
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: rgba(233, 186, 32, 0.411);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(50px);
    width: 100%;
    text-align: center;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    z-index: 100;
  }
  .nav-item {
    margin: 30px 0;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-link {
    font-size: 1.2rem;
  }
}

//BIO

@media (min-width: 768px) {
  .bio-text {
    text-align: center;
    font-weight: 800;
    //height: 100px;
    color: #fdb833;
    font-size: 3rem;
    padding-top: 1rem;
  }
  .bio-main-div {
    display: flex;
    flex-direction: row;
    text-align: justify;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 5rem;
  }
  .lesson-main-div {
    padding-right: 10rem;
    padding-left: 10rem;
  }
  .bio-text {
    font-size: 3rem;
  }
  .goal {
    font-size: 1.2rem;
  }
  .lesson-intro {
    font-size: 1rem;
  }
  .lesson-intro::before {
    content: "";
    display: block;
    position: absolute;
    border-left: 7px solid #fdb833;
    left: 100px;
    transform: translateY(6px);
    height: calc(100% - 50%);
  }
  .lesson {
    margin-top: 12rem;
  }
  .watermark {
    width: 8rem;
    margin-top: 5rem;
  }
}

//VIDEO
@media (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(1em, 1fr) minmax(1em, 1fr);
    grid-column: 3 / -1;
    gap: 2rem;

    //background: rgba(230, 152, 8, 0.3);
    //backdrop-filter: blur(10px);
    //box-shadow: 0px 0px 10px rgb(122, 122, 122);
    padding: 2rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin-top: 10rem;
    height: 80vh;
  }
  .iframe-container {
    position: relative;
    width: 260px;
    padding-bottom: 56.25%;
    height: 146px;
    text-align: center;
  }
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem;
    padding: 1.7rem;
    font-size: 1rem;
  }
}
@media (max-width: 900px) {
  .wrapper {
    grid-template-columns: minmax(1em, 1fr) minmax(1em, 1fr);
    grid-column: 2 / -1;
    gap: 1.5rem;
    margin: 3rem;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .bio-text {
    letter-spacing: 0.6rem;
  }
}
@media (min-width: 769px) {
  .bio-main-div {
    display: flex;
    flex-direction: row;
    text-align: justify;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 12rem;
  }
  footer {
    padding: 3.5rem;
  }
}

//VIDEOS
